.container{
    margin-bottom: 80px;
}
.background-color-carousel-item{
    background-color: #fceae8;
    /*background-color: #0f6674;*/
    border-radius: 20px;
}
.price-color{

    color: #ff136f;
}
.buy-now{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}